/* Missions
	- Import & order all of scss
*/
@import url("https://fonts.googleapis.com/css?family=Sarabun:300,400,600,700&subset=thai,vietnamese");
/* Missions
	- Mixins
*/
/* Missions
	- Color sceme, Variable
	- Grid system, Container
	- Typography 
*/
/* Missions
	- Form elements
	- Article style
	- Table style
	- Modal style
*/
/* Logo & Title/ Subtitle page */
/* Form elements */
/* Missions
	- Rewrite default browser style
*/
* {
  font-family: 'Sarabun', sans-serif;
  box-sizing: border-box;
  /* Avoid overflow error on safari */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  * *:focus {
    outline: none; }

body {
  margin: 0;
  padding: 0;
  background: none;
  overflow-x: hidden; }
  body.modal-open {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

/* Missions
	- Parts, Reusable
*/
/* Main parts */
.header {
  height: 200px; }

.content {
  height: calc(100vh - $HeaderHeight - $FooterHeight); }

.footer {
  height: 200px; }

/* Layout (pass it if using Bootstrap) */
/*  */
/* Missions
	- Rewrite (important cases only)
*/
